/*dark theme colors*/
.darkestBlue {
  background-color: hsl(230, 17%, 14%);
}

.dark-blue {
  color: hsl(232, 19%, 15%);
}

.desaturated-blue {
  color: hsl(228, 28%, 20%);
}

.pale-blue {
  color: hsl(228, 34%, 66%);
}

.dark-mode-white {
  color: hsl(0, 0%, 100%);
}
